body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

header.personal-info {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

section {
  margin-top: 20px;
}

.bank-section, .expenses-section {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.banks, .expenses {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.bank, .expense {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  flex: 1;
}

.expense img {
  width: 50px;
  height: 50px;
}

h2, h3 {
  margin-top: 0;
}

.chart-section {
  margin-top: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-section h2 {
  text-align: center;
}

.custom-option {
  display: flex;
  align-items: center;
}

.add-bank-section {
  margin: 20px 0;
}

.banks {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.bank {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.bank img {
  display: block;
  margin: 0 auto 10px;
}

.add-bank-section button {
  background-color: #4CAF50; /* Cor de fundo verde */
  border: none;
  color: white; /* Cor do texto branca */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px; /* Borda arredondada */
  transition: background-color 0.3s ease;
}

.add-bank-section button:hover {
  background-color: #45a049; /* Cor de fundo ao passar o mouse */
}

.add-bank-section button:active {
  background-color: #3e8e41; /* Cor de fundo ao clicar */
}

.custom-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-input:focus {
  border-color: #4CAF50; /* Cor da borda ao focar */
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Efeito de sombra ao focar */
  outline: none; /* Remove o contorno padrão */
}

.input-row {
  display: flex;
  gap: 10px; /* Espaço entre o select e o input */
  align-items: center; /* Centraliza verticalmente */
}

.input-row .custom-input {
  flex: 1; /* O input ocupará o espaço restante */
}

.input-row .custom-option {
  display: flex;
  align-items: center;
}

/* Tela de Login */
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centraliza o conteúdo */
}

.login-logo {
  display: block;
  margin: 0 auto 20px;
  width: 100px;
  height: auto;
}

.login-container h2 {
  color: #4CAF50;
}

.custom-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-input:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  outline: none;
}

.login-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #45a049;
}

.login-button:active {
  background-color: #3e8e41;
}

.login-links {
  text-align: center;
  margin-top: 10px;
}

.login-links a {
  color: #4CAF50;
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
}

.input-container {
  position: relative;
  margin-bottom: 15px; 
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.user-icon::before {
  content: "\f007"; /* Código do ícone de usuário (font awesome ou similar) */
  font-family: 'FontAwesome';
}

.password-icon::before {
  content: "\f023"; /* Código do ícone de senha (font awesome ou similar) */
  font-family: 'FontAwesome';
}

.email-icon::before {
  content: "\f0e0"; /* Código do ícone de email (font awesome ou similar) */ 
  font-family: 'FontAwesome'; 
}

.custom-input {
  padding-left: 30px; /* espaço para o ícone */
}

/* Tela de Cadastro */

.signup-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signup-logo {
  display: block;
  margin: 0 auto 20px auto;
  width: 100px;
  height: 100px;
}

.signup-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #45a049;
}

.signup-button:active {
  background-color: #3e8e41;
}

.signup-links {
  text-align: center;
  margin-top: 10px;
}

.signup-links a {
  color: #4CAF50;
  text-decoration: none;
}

.signup-links a:hover {
  text-decoration: underline;
}

/* Estilo da Página Esqueci Minha Senha */
.forgot-password-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.forgot-password-logo {
  display: block;
  margin: 0 auto 20px auto;
  width: 100px; /* Tamanho adequado */
  height: 100px; /* Tamanho adequado */
}

.forgot-password h2 {
  text-align: center;
  color: #4CAF50;
}

.forgot-password-message {
  text-align: center;
  color: #4CAF50;
  margin-bottom: 20px;
}

.forgot-password-input-container {
  position: relative;
  margin-bottom: 15px; /* Adiciona espaço entre os campos */
}

.forgot-password-input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.forgot-password-user-icon::before {
  content: "\f007"; /* Código do ícone de usuário */
  font-family: 'FontAwesome'; /* Certifique-se de ter o FontAwesome incluído */
}

.forgot-password-email-icon::before {
  content: "\f0e0"; /* Código do ícone de email */
  font-family: 'FontAwesome'; /* Certifique-se de ter o FontAwesome incluído */
}

.forgot-password-input {
  padding-left: 30px; /* Espaço para o ícone */
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.forgot-password-input:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  outline: none;
}

.forgot-password-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.forgot-password-button:hover {
  background-color: #45a049;
}

.forgot-password-button:active {
  background-color: #3e8e41;
}

.forgot-password-links {
  text-align: center;
  margin-top: 10px;
}

.forgot-password-links a {
  color: #4CAF50;
  text-decoration: none;
}

.forgot-password-links a:hover {
  text-decoration: underline;
}
